{% extends 'base.html' %}
{% block content %}

<h1>이곳은 회원가입 페이지</h1>

<form action="" method="POST">
    {% csrf_token %}
    <label for="dog_Image">사진을 올려주세요~ : </label>
    <br>
    <input type="file" id="dog_Image" name="dog_Image" accept="image/png, image/jpeg">
    <br><br>
    <input name = "dog_name" type = "text" placeholder="강아지 이름"><br>
    <input name = "dog_type" type = "text" placeholder="견종"><br>
    <br>생년월일<br>
    <input name = "dog_birth_year" type = "number" placeholder="년도" min="2000" max="2021">
    <input name = "dog_birth_month" type = "number" placeholder="월" min="1" max="12">
    <input name = "dog_birth_day" type = "number" placeholder="일" min="1" max="31">
    <br><br>
    
    <label>
        수컷 <input type="radio" name="dog_gender" value="male" checked>
    </label>
    <label>
        암컷 <input type="radio" name="dog_gender" value="female">
    </label><br><br>


    <input name = "username" type = "text" placeholder="아이디"><br>
    <input name= "password" type = "password" placeholder="비밀번호"><br>
    <br>
    <input type = "submit" value="회원가입">
    
    </form>

{% endblock %}