<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멍팟</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'style-bin.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico"/>
</head>
<body>
    <nav>
        <div id="nav_container">
            <a href="{%url 'home'%}"><img src="../static/images/logo.png" alt="logo" id="logo"></a>
            <a href="{%url 'map'%}">지도</a>
            <a href="{%url 'new'%}">글쓰기</a>
            <a href="{%url 'profile'%}">프로필</a>
            {% if user.is_authenticated %}
            <a href = "{%url 'logout'%}">로그아웃</a>
            {% else %}
            <a href = "{%url 'signin'%}">로그인</a>
            {% endif %}
        </div>
    </nav>
    <section style="background-color:#ecf3f0;">
        {% block content %}
        {% endblock %}
    </section>
    
</body>
</html>


<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $( document ).ready( function() {
        $( '.top' ).fadeOut();
      $( window ).scroll( function() {
        if ( $( this ).scrollTop() > 200 ) {
          $( '.top' ).fadeIn();
        } else {
          $( '.top' ).fadeOut();
        }
      } );
      $( '.top' ).click( function() {
        $( 'html, body' ).animate( { scrollTop : 0 }, 400 );
        return false;
      } );
    } );
  </script>
<a href="#" class="top"><img src="../static/images/direction.png" style="width:50px; position:fixed; bottom:5%; right:5%;"></a>