{% extends 'base.html' %}
 
{% block content %}
<style>
  *{
    overflow-x: hidden;
  }
</style>
<section class="container">
<section class="detail">
  <div>
  <div class="header" style="float:right;">
    {% if request.user == onepost.writer %}
      <a href="{% url 'edit' onepost.id %}">수정</a>
      <a href="{% url 'delete' onepost.id %}">삭제</a>
    {% endif %}
    <a href="{% url 'home' %}">홈으로</a>
    <div class="date">{{onepost.created_at|date:'Y년 m월 d일 H시i분' }} &#128339 </div>
  </div>
  <div style="float:left;">
    <br>
    {% if request.user == onepost.writer %}
    <a href="{% url 'profile' %}" style="font-size:20px; text-decoration: none; color:#28daaf;"><strong>&#128054 {{onepost.writer}}</strong></a>
    {% else %}
    <a href="#" style="font-size:20px; text-decoration: none; color :#28daaf;"><strong>&#128054 {{onepost.writer}}</strong></a>
    {% endif %}
  </div>
  </div>
  <div>
    {% for photo in onepost.photo_set.all%}
    <img src="{{photo.image.url}}" width="50"><br>
    {% endfor %}  
    <div class="spot">
      <img src="../static/images/imagelogo.png" class="pull-left">
      <div class="pull-left">{{onepost.location}}</div>
    </div>
    <div class="content">{{onepost.title}}</div>
    <div class="content" style="font-size: 14px;">{{onepost.content}}</div>
    
  </div>
  <div class="comment">
    {% if user.is_authenticated %}
    <form action="{% url 'commentcreate' onepost.id %}" method="POST" class="form-inline">
      {% csrf_token %}
      <br><br>
      <div>
        <div class="form-group">
          <input type="text" name="comment_content" class="form-control col-sm-9" id="comment_content">
          <input type="submit" class="form-control col-sm-3" value="쓰기">
        </div>
        
      </div>
      
    </form>
    {% endif %}
 
    {% for c in comments %}
    <div class="comment-list">
      <div class="content">{{ c.content }}</div>
      <div class="date">{{ c.created_at }}</div>
      {% if request.user == onepost.writer %}
      <a href="{%url 'commentdelete' onepost.id c.id %}">삭제</a>
      {% endif %}
    </div>
    {%endfor%}
  </div>
  

  
</section>
</section>
{% endblock %}