{% extends 'base.html' %}
 
{% block content %}
<section class="container">
    
    <div class="content">
        <img src="https://lh3.googleusercontent.com/proxy/zEVNKkkbchyLTyc_BxmCjEo5DgpBZ29rJBI5BdrSF65RF14zLpLWiS-16H7JiBWD5l5ewqBbl_zwtpAhFuB5s8nt3cxF8NXI4rHPSNEwtDnDGkwStOIt2wcjJZcIGSU" alt="">
        <div>오늘 공원에 갔다</div>
        <div class="spot">위치</div>
    </div>
    <div class="footer">
        <p class=" pull-left">♡</p>
        <p class=" pull-left">609</p>
        <p class=" pull-left">120</p>
        <p class=" pull-left">SHARE</p>
    </div>
</section>
{% endblock %}