{% extends 'base.html' %}

{% block content %}

<body>
	<div class="container" style="margin-top:20px; padding-top:20px;">
		<div class="form-group" style="margin-bottom:5px;">
			<input type="text" name="search-bar" class="form-control col-sm-9" id="search-bar" style="width:90%; float:left;" placeholder="검색어를 입력해주세요">
			<input type="button" class="form-control col-sm-3" value="검색" id="search-btn" style="margin-left : 5px; width:60px;">
		</div><br><br>
		<div id="map" style="width:100%;height:400px;"></div>
	</div>

	<div class="container" id="container" style="margin-top:20px; padding-top:20px; background-color:white;">
		
		{% for feed in feeds.all reversed%}
            {% if feed.lat == lat %}
                {% for photo in feed.photo_set.all%}
                <div class="profile_img_container">
                    <div class="img_figure">
                        <a href="{% url 'detail' feed.id %}" style="margin:0px;">
                            <img src="{{photo.image.url}}" class="profile_img">
                        </a>
                    </div>
                </div>
				{% endfor %}
			{% else %}
            {% endif %}
        {%endfor%}
	</div>

	<span id="facility_lat"style="display: none" >
		{% for feed in feeds.all reversed %}
		{{feed.lat}},
		{% endfor %}
	</span>
	<span id="facility_lng"style="display: none" >
		{% for feed in feeds.all reversed %}
		{{feed.lng}},
		{% endfor %}
	</span>
	<span id="facility_title"style="display: none" >
		{% for feed in feeds.all reversed %}
		{{feed.title}},
		{% endfor %}
	</span>
	<span id="facility_location"style="display: none" >
		{% for feed in feeds.all reversed %}
		{{feed.location}},
		{% endfor %}
	</span>
	





	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=028e8506c4c13242bcf475d56f5a3ef1&libraries=services"></script>
	<script>
		var infowindow = new kakao.maps.InfoWindow({ zIndex: 1 });

		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			mapOption = {
				center: new kakao.maps.LatLng({{lat}}, {{lng}}), // 지도의 중심좌표
				level: 3 // 지도의 확대 레벨
			};

		var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
		var ps = new kakao.maps.services.Places();

		//엔터시 검색
		let search_bar = document.querySelector("#search-bar");
		let search_btn = document.querySelector("#search-btn");
		console.log(search_bar);
		console.log(search_btn);

		search_btn.addEventListener("click", () => {
			let keyword = search_bar.value;
			if (keyword) {
				console.log(keyword + "검색하셨습니다");
				keywordSearch(keyword);
			}
			else {
				alert("검색어를 입력하세요");
			}
		});

		function keywordSearch(keyword) {
			ps.keywordSearch(keyword, keywordSearchCallback);
		}





		var list_lat = document.getElementById("facility_lat").innerText.split(',');
		var list_lng = document.getElementById("facility_lng").innerText.split(',');
		var list_title = document.getElementById("facility_title").innerText.split(',');
		var list_location = document.getElementById("facility_location").innerText.split(',');


		for (var idx = 0; idx < list_lat.length; idx++) {
			var data_lat = list_lat[idx];
			var data_lng = list_lng[idx];
			var data_title = list_title[idx];
			displayMarker(list_lat[idx], list_lng[idx], list_title[idx]);
			//console.log(list_lat[idx], list_lng[idx])
		}


		function keywordSearchCallback(data, status, pagination) {
			if (status === kakao.maps.services.Status.OK) {
				let center = new kakao.maps.LatLng(data[0].y, data[0].x)
				map.setCenter(center);

			}
		}

		function displayMarker(y, x, z) {
			// 마커를 생성하고 지도에 표시합니다
			var marker = new kakao.maps.Marker({
				map: map,
				position: new kakao.maps.LatLng(y, x)
			});

			// 마커에 클릭이벤트를 등록합니다
			kakao.maps.event.addListener(marker, 'click', function () {
				// 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
				var lat = y*1;
				var lng = x*1;
				infowindow.setContent('<div style="padding-bottom:20px;font-size:12px;">' +z +'<br><form action="{% url 'loc'%}" method="POST">{% csrf_token %}<input type="text" name="lat" id="lat" value="'+ lat +'" style="visibility: hidden;"><input type="text" name="lng" id="lng" value="'+ lng +'" style="visibility: hidden;"><input type="submit" value="글 보기"></form></div>');
				infowindow.open(map, marker);
			});
		}


	</script>
</body>
{% endblock %}