{% extends 'base.html' %}

{% block content %}


<div class="container" style="margin-top:20px">
	<div id="map" style="width:100%; height:400px; margin:0 auto;"></div>
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5c706f6062f49ce6240223336321feee"></script>
	<script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};
		var map = new kakao.maps.Map(container, options);
    </script>
{% endblock %}