{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <section class="new">
        <div>새 글 쓰기</div>
        <form action="{% url 'createfeed' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="imgs" class="form-control" multiple>
            <br>
            <div class="form-group">
                <label for="title">제목</label><br>
                <input type="text" class="form-control" name="title" id="title" cols="30" rows="1">
            </div><br>

            <div class="form-group">
                <label for="content">내용</label><br>
                <textarea name="content" class="form-control" id="content" cols="30" rows="10"></textarea>
            </div><br>

            <div>
                <label for="location">위치</label><br>
                    <div class="form-group" style="margin-bottom:5px;">
                        <input type="text" name="search-bar" class="form-control col-sm-9" id="search-bar" style="width:90%; float:left;" placeholder="검색어를 입력해주세요">
                        <input type="button" class="form-control col-sm-3" value="검색" id="search-btn" style="margin-left : 5px; width:60px;">
                    </div>
                <br><br>
                <div id="map" style="width:100%;height:350px;"></div>
                <p><em>지도를 클릭해주세요!</em></p>
                <div id="clickLatlng"></div>
               

                <script type="text/javascript"
                    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=028e8506c4c13242bcf475d56f5a3ef1&libraries=services"></script>
                <script>
                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                        mapOption = {
                            center: new kakao.maps.LatLng(37.449403, 126.65346), // 지도의 중심좌표
                            level: 3 // 지도의 확대 레벨
                        };

                    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
                    var ps = new kakao.maps.services.Places();

                    //엔터시 검색
                    let search_bar = document.querySelector("#search-bar");
                    let search_btn = document.querySelector("#search-btn");
                    console.log(search_bar);
                    console.log(search_btn);

                    search_btn.addEventListener("click", () => {
                        let keyword = search_bar.value;
                        if (keyword) {
                            console.log(keyword + "검색하셨습니다");
                            keywordSearch(keyword);
                        }
                        else {
                            alert("검색어를 입력하세요");
                        }
                    });

                    function keywordSearch(keyword) {
                        ps.keywordSearch(keyword, keywordSearchCallback);
                    }
                    function keywordSearchCallback(data, status, pagination) {
                        if (status === kakao.maps.services.Status.OK) {
                            let center = new kakao.maps.LatLng(data[0].y, data[0].x)
                            map.setCenter(center);
                            
                        }
                    }



                    // 지도를 클릭한 위치에 표출할 마커입니다
                    var marker = new kakao.maps.Marker({
                        // 지도 중심좌표에 마커를 생성합니다 
                        position: map.getCenter()
                    });
                    // 지도에 마커를 표시합니다
                    marker.setMap(map);

                    // 지도에 클릭 이벤트를 등록합니다
                    // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
                    kakao.maps.event.addListener(map, 'click', function (mouseEvent) {

                        // 클릭한 위도, 경도 정보를 가져옵니다 
                        var latlng = mouseEvent.latLng;

                        // 마커 위치를 클릭한 위치로 옮깁니다
                        marker.setPosition(latlng);

                        var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
                        message += '경도는 ' + latlng.getLng() + ' 입니다';

                        var resultDiv = document.getElementById('clickLatlng');

                        var latbox = document.getElementById('lat')
                        latbox.value = latlng.getLat();
                        var lngbox = document.getElementById('lng')
                        lngbox.value = latlng.getLng();
                    });
                </script>
            </div>
            <input type="submit" class="form-control" value="글쓰기">
            <input type="text" class="form-control" name="lat" id="lat" cols="30" rows="1" style="visibility: hidden;">
            <input type="text" class="form-control" name="lng" id="lng" cols="30" rows="1" style="visibility: hidden;"> 

        </form>
    </section>
</div>
{% else %}
<script>
    alert('로그인하세요');
    history.back();
</script>
{% endif %}


{% endblock %}