{% extends 'base.html' %}
 
{% block content %}

{% if user.is_authenticated %}
<script type="text/javascript">
    function function1(this1){
        if(this1.innerHTML == "♡"){
            this1.innerHTML = "♥";
        }
        else{
            this1.innerHTML = "♡";
        }
    }
</script>
<div class="container" style="margin-top:20px; padding-top:20px;">
    <div class="information-image pull-left" style="width: 150px; height: 150px; border-radius: 70%; overflow: hidden;" class="profile "><img src="{{user.dog_Image.url}}" style="width:100%; height:100%;"></div>
    <div class="information pull-left">
        아이디 : <strong>{{request.user }}</strong><br>
        이름 : <strong>{{user.dog_name}}</strong><br>
        견종 : <strong>{{user.dog_type}}</strong><br>
        출생년도 : <strong>{{user.dog_birth_year}}</strong><br>
    </div>
    
    
</div>
<div class="container" style="padding-top:20px; background-color:white;">
        {% for feed in feeds.all reversed%}
            {% if request.user == feed.writer %}
                {% for photo in feed.photo_set.all%}
                <div class="profile_img_container">
                    <div class="img_figure">
                        <a href="{% url 'detail' feed.id %}" style="margin:0px;">
                            <img src="{{photo.image.url}}" class="profile_img">
                        </a>
                        <button><div onclick="function1(this)">♡</div></button>
                    </div>
                </div>
                {% endfor %}
            
            {% endif %}
        {%endfor%}
</div>


{% else %}
<script>
    alert('로그인하세요');
    history.back();
</script>
{% endif %}

{% endblock %}


